/* Composer wrapper */
.composer-box {
  display: flex;
  align-items: center;
  background: var(--panel);
  border: 1px solid var(--border-color);
  border-radius: 14px;
  padding: 10px;
  gap: 10px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.07); */
}

/* Textarea input */
.composer-input {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  /* color: var(--text); */
  line-height: 20px;
  max-height: 120px;
  overflow-y: auto;
}

/* Scrollbar styling */
.composer-input::-webkit-scrollbar {
  width: 5px;
}

.composer-input::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

/* Send button */
.composer-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 2rem;
  border: none;
  position: relative;
  background-color: rgb(5, 6, 45);
  transition: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.composer-button::after {
  content: '';
  width: 70%;
  height: 70%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.composer-button:active {
  transform: scale(0.9) rotate(3deg);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 4px solid  rgb(5, 6, 45);;
  background: #060c59;
background: radial-gradient(circle, rgba(6, 12, 89, 1) 37%, rgba(235, 235, 242, 1) 100%, rgba(245, 249, 252, 1) 88%);
}
